



.custom_container{
background-color: yellow;
color: white;


}


.c12{
    background-color: green;


}

.c61{
    background-color: pink;

}

.c62{
    background-color: skyblue;

}

.c41{
    background-color: purple;
}

.c42{
    background-color: chocolate;
}

.c43{
    background-color: chartreuse;
}

.c31{
    background-color: aqua;
}

.c32{
    background-color: blueviolet;
}
.c33{
    background-color: coral;
}
.c34{
    background-color: crimson;
}



.c61{
    background-color: orange;
}

.c62{
    background-color: orchid;
}

.c63{
    background-color: orangered;
}




























